In [2]:
from src.helpers import zero_shot_predict_single_model, get_top_n_label_and_score,

In [16]:
df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
                    'value': [100, 200, 300, 400]})
df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz'],
                    'value': [1, 2, 3]})
df_merged = pd.merge(left=df1, right=df2, how='left', 
                     left_on='lkey', right_on='rkey',
                     suffixes=('_data','_label'),
                     indicator=True)
df_merged

  lkey  value_data rkey  value_label _merge
0  foo         100  foo            1   both
1  bar         200  bar            2   both
2  baz         300  baz            3   both
3  foo         400  foo            1   both